.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: hsl(0, 0%, 60%);
}

main {
  display: grid;
  grid-template-columns: auto auto auto;

  background-color: #636360;
  color: #e6e6e6;

  max-width: 1024px;
  margin: auto;
}

.verticalLine {
  border-left: 1px solid #444444;
  height: 80%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: hsl(0, 0%, 90%);
  border-radius: 8px 8px 0 0;
  border: 0;
  border-bottom: 1px solid rgb(155, 155, 155);
  padding: 8px;
}

textarea:focus {
  outline: 0;
}
